/* colors: rgb(210, 210, 210), #fff, #14213d, #32559A, #8C9DC0 */
/* font: "Noto Sans" */


body {
    text-align: center;
    background-color: rgb(210, 210, 210);
    font-family: "Noto Sans", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    color: #fff;
}

h1,
p {
    margin: 0 auto;
    padding: 0;
}

.layout-div {
    display: grid;
    width: 270px;
    /* border: 1px solid red; */
    justify-content: center;
}

.screen-div {
    background-color: #fff;
    margin: 0.5rem;
    border-radius: 10px;
    color: #000;
    padding: 1.25rem;
    font-size: 1rem;
    text-align: right;
    overflow: hidden;
    direction: rtl;
    height: 2rem;
}

.inner-screen-div {
    white-space: nowrap;
    direction: ltr;
    display: inline-block;
}

.calculator-div {
    width: fit-content;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
    /* border: 1px solid green; */
}

.num-button {
    background-color: #14213d;
    width: 3.25rem;
    aspect-ratio: 1/1;
    border-radius: 10px;
    display: grid;
    align-items: center;
}

.operator-button {
    background-color: #32559A;
    width: 3.25rem;
    aspect-ratio: 1/1;
    border-radius: 10px;
    display: grid;
    align-items: center;
}

.reset-button {
    background-color: #8C9DC0;
    font-size: 1.25rem;
    height: 3.25rem;
    border-radius: 10px;
    display: grid;
    align-items: center;

}